[package]
name = "db"
version = "0.1.0"
edition = "2021"

[dependencies]
sqlx = { version = "0.8.6", features = ["runtime-tokio", "postgres", "uuid", "tls-rustls"] }
uuid = { version = "1.21.0", features = ["v4"] }
anyhow = "1.0.102"
